Flask
Flask-SQLAlchemy
Flask-Migrate
Werkzeug
requests
marshmallow
pytest
waitress
openpyxl
PyMySQL
psycopg2-binary
google-api-python-client
google-auth
google-auth-oauthlib
reportlab
brazilfiscalreport
